 <div class="container-fluid">
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center; font-size: large;">Upload Invoice Details
                    <button  class="btn btn-danger" data-toggle="collapse" data-target="#invoiceData" style="float: right; margin-top:-5px;">Add New Invoice</button>
                    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                        <p style="color: white">Please Wait..... </p>  
                        </ngx-spinner>
                </div>
                <div id="invoiceData" class="panel-collapse collapse">
                <div class="panel-body">
                         <div class="row">
                            <div class="col-sm-4">
                                <input type="file" name="file" id="file" class="form-control" accept=".pdf" multiple="multiple" style="margin-top: 12px;float: right;" (change)="chooseFileClicked($event)">
                            </div>
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-success" style="margin-top: 8px; float: right;"  data-toggle="collapse" data-target="#invoiceData" (click)="readInvoiceButtonClicked()">Read Invoice</button>
                            </div>
                         </div>
                    </div>      
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body white-text">
                    <div class="row"> 
                        <div class="col-sm-12">
                            <table class="table table-striped table-dark">
                                <thead>
                                  <tr>
                                    <th scope="col">Invoice No</th>
                                    <th scope="col">Buyer Name</th>
                                    <th scope="col">Seller Name</th>
                                    <th scope="col">Invoice Date</th>
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Due Amount</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody>                                
                                      <tr *ngFor ="let invoice of listOfAllInvoices">
                                        <td>{{ invoice.InvoiceNumber }}</td>
                                        <td>{{ invoice.BuyerName }}</td>
                                        <td>{{ invoice.SellerName }}</td>
                                        <td>{{ invoice.InvoiceDate }}</td>
                                        <td>{{ invoice.Due_Date }}</td>
                                        <td>{{ invoice.Due_Amount }}</td>
                                        <td><span class="glyphicon glyphicon-pencil" style="width: 28px;" (click)="invoiceEditButtonClicked(invoice._id)"></span>
                                            <span class="glyphicon glyphicon-trash" (click)="invoiceDeleteButtonClicked(invoice._id)"></span>
                                        </td>
                                      </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
           

             